<div class="container">
   <div class="row">
      <div class="col-md-12">
        <h3><%= @post.title %></h3>
        <p class = "lead">by
          <%= @post.user.email %>
        </p>
        <hr>
        <%= @post.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p")%>
        <hr>
        <div class='fill'>
          <%= image_tag @post.image.url, alt: "Post image"%>
        </div>
        <p align="justify"><%= @post.text %></p>
      </div>
    </div>
<h4>Comments</h4>
<%= render @post.comments %>
 
<strong>Add a comment:</strong>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
